/* Body */

a {
    color: inherit;
    text-decoration: inherit;
  }
  
  * {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
  }
  
  html,
  body {
    font-family: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI";
    height: 100%;
    min-height: 100%;
    cursor: default;
    overflow-x: hidden;
    font-size: 11px;
    background-color: white;
  }

  .view {
    display: flex;
    flex-direction: column;
    -webkit-box-direction: normal;
    min-height: 100%;
    height: 100%;
    transition: transform 0.25s ease-in-out;
    color: #ffffff;
    overflow-y: auto;
    position: relative;
  }