.node-interface {
    padding: 0.25em 0;
    position: relative;

    @each $name, $value in $iftypes {
        &.--iftype-#{$name} .__port {
            background: $value !important;
        }
    }

    .__port {
        position: absolute;
        width: 14px;
        height: 14px;
        background: rgb(241, 241, 241);
        border-radius: 50%;
        top: calc(50% - 5px);
        cursor: crosshair;
        border: 1px solid rgb(201, 201, 201);
    }

    &.--input {
        min-height: 20px;
        flex: 1 1 auto;

        .__port {
            left: -.7em;
        }

    }
    &.--output {
        height: 100%;

        .__port {
            right: -.7em;
        }

    }

}